.icon {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.icon-container {
  flex-basis: 300px;
  cursor: pointer;
  margin: 10px;
}

.icon-container code {
  margin: 10px 0;
  display: block;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.title {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}