.icon {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.icon-container {
  flex-basis: 300px;
  cursor: pointer;
  margin: 10px;
}

.icon-container * {
  cursor: pointer;
}

.icon-container code {
  margin: 10px 0;
  display: block;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.title {
  margin: 0;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header aside {
  margin: 0 10px;
}

.icon-dropdown {
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  overscroll-behavior: none;
}

.icon-dropdown li {
  word-wrap: break-word;
  cursor: pointer;
}

.listrow {
  display: flex;
  justify-content: space-between;
}

.form-top {
  display: flex;
}

.icon_preview {
  height: 128px;
  width: 128px;
}